<h5 class="back" routerLink="/">Lamb Family Recipe Book</h5>

<div class="one_meal">
    <img class="picture" [src]="meal$.value.picture" alt="">
    
    <ul class="ingredients">
        <li *ngFor="let ingredient of meal$.value.ingredientList">{{ingredient}}</li>
    </ul>
    <ol class="instructions">
        <li *ngFor="let instructionList of meal$.value.instructions">
            <ul>
                <li *ngFor="let instruction of instructionList">
                    {{instruction}}
                </li>
            </ul>
        </li>
    </ol>
</div>
